<div class="container">
  <div class="title"> Reset Password <img class="logo" src="../../assets/logo-tr.png" /></div>
  <form autocomplete="on" #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm.value)" novalidate>
    <div>
      <md-input-container>
        <input mdInput id="password" type="password" (ngModel)="password" name="password" required class="form-control" placeholder="Password" #password="ngModel" />
        <md-error>This field is required</md-error>
      </md-input-container>
    </div>
    <div>
      <md-input-container>
        <input mdInput pattern="{{password.value}}" id="confirmPassword" type="password" (ngModel)="confirmPassword" name="confirmPassword" required class="form-control" placeholder="Confirm Password" #confirmPassword="ngModel" />
        <md-error *ngIf="confirmPassword.errors?.required">This field is required</md-error>
        <md-error *ngIf="confirmPassword.errors?.pattern">Confirm Password must match Password</md-error>
      </md-input-container>
    </div>
    <button md-raised-button type="submit" color="primary" [disabled]="resetPasswordForm.invalid">Update Password</button>
  </form>
</div>
<div class ="link"> 
	<a routerLink="/login"> Back to Login</a> 
</div>
