.container {
    width: 100vw;
    height: 100vh;
}

.sidenav {
    padding: 15px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tags{
	display: flex;
	flex-direction:column;
	max-height: 550px;
    overflow-y: auto;
}

.tagCheckbox {
    margin-bottom: 13px;
}

.tag-container{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    .tagCheckbox {
        flex: 1;
        margin: 0px;
    }
    .deleteIcon {
        cursor: pointer;
        color: red;
    }
    .deleteIcon:hover {
        color: darken(red, 5%);
    }
}

.mat-input-container .mat-input-wrapper{
  margin-top: 8px !important;
}