.container {
    width: 100vw;
    height: 100vh;
}

.sidenav {
    padding: 15px;
    width: 209px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tags{
	display: flex;
	flex-direction:column;
	max-height: 550px;
    overflow-y: auto;
}

.tagCheckbox{
	margin-bottom: 16px;
}

.mat-input-container .mat-input-wrapper{
  margin-top: 8px !important;
}