<div class="container">
    <h1> Things </h1>
    <div class="thingsList">
        <div class="emptyState" *ngIf="!displayThings?.length">
          <h1>No results found for current search criteria</h1>
        </div>
        <memore-thing 
          [item]="aThing"
          (openThingDetailsDialog) = "openThingDetailsDialog($event)" 
          (onDelete) = "deleteThing($event)"
          *ngFor="let aThing of displayThings">
        </memore-thing>
    </div>
    <button md-mini-fab class="addThingButton" color="primary" (click)="addNewThing()">
        <md-icon class="md-24">add</md-icon>
    </button>
</div>
