<div class="container" (mouseenter)="showActions()" (mouseleave)="hideActions()" (click)="openThingDetails(true)">
    <div class="content">
        {{item.text}}
    </div>
    <div class="footer">
        <div class="sourceContainer">
            <label md-theme="label">Source:</label>
            <div class="source">
                {{item.source}}
            </div>
        </div>
        <div class="actions" *ngIf="canShowActions">
            <md-icon color="primary" title="edit" (click)="openThingDetails(false); $event.stopPropagation();">edit</md-icon>
            <md-icon color="primary" title="delete" (click)="onDeleteThing(); $event.stopPropagation()">delete</md-icon>
        </div>
    </div>
</div>
