 <h1>Your Profile</h1>
 <form autocomplete="on" #profileForm="ngForm" (ngSubmit)="updateProfileData(profileForm.value)" novalidate>
  
    <div class="form-group" >
       <md-input-container floatPlaceholder="always">
         <input
             mdInput 
             type="text" [(ngModel)]="name"
             name="name"
             #nameVar="ngModel"
             class="form-control" 
             placeholder="Name" />
          <md-error>This field is required</md-error> 
       </md-input-container>
    </div>	
     <div class="avatar">
        <label for="avatar">Avatar</label>
         <input
             type="file"
             name="avatar"
             accept="image/x-png,image/gif,image/jpeg" 
             (change)="fileChanged($event)"
          />
          <img class="displayAvatar" src="{{avatar}}" />
    </div>  
    <div class="form-group">
      <md-input-container floatPlaceholder="always">
        <input mdInput
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" 
               type="email"
               [(ngModel)]="email"
               name="email"
               #emailVar="ngModel"
               class="form-control" 
               placeholder="Email" />
        <md-error *ngIf="emailVar.errors?.required">Email is required</md-error>
        <md-error *ngIf="emailVar.errors?.pattern">Email is not valid</md-error>     
      </md-input-container>
    </div>
     <button type="submit" md-raised-button color="primary"
     [disabled]="profileForm.invalid">Save changes</button>
  </form>
   <form autocomplete="on" #profilePasswordForm="ngForm" (ngSubmit)="updatePassword()" novalidate>
    <div class="form-group" >
      <md-input-container floatPlaceholder="always">
        <input mdInput 
               type="password" 
               [(ngModel)]="currentPassword"
               name="currentPassword"
               required
                #currentPasswordVar="ngModel"
               class="form-control" 
               placeholder="Current Password" />
         <md-error>This field is required</md-error>       
      </md-input-container>
    </div>
     <div class="form-group" >
     <md-input-container floatPlaceholder="always">
        <input mdInput
         type="password"
         [(ngModel)]="newPassword"
         name="confirmPassword"
          #confirmPasswordVar="ngModel"
         required class="form-control" 
         placeholder="New Password" />
         <md-error>This field is required</md-error> 
     </md-input-container>
    </div>
    <button type="submit" md-raised-button color="primary"
     [disabled]="profilePasswordForm.invalid">Save changes</button>
  </form>
  	