 <form autocomplete="on" #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm.value)" novalidate>
  
    <div class="form-group" >
       <md-input-container>
         <input
             mdInput 
             type="text" [(ngModel)]="name"
             name="name"
             #nameVar="ngModel"
             required class="form-control" 
             placeholder="Name..." />
         <md-hint *ngIf="nameVar.invalid && (nameVar?.touched || mouseoverLogin)">Required</md-hint>    
       </md-input-container>
    </div>	
    <div class="form-group">
      <md-input-container>
        <input mdInput
               type="email"
               [(ngModel)]="email"
               name="email"
               #emailVar="ngModel"
               required
               class="form-control" 
               placeholder="Email..." />
        <md-hint *ngIf="emailVar?.invalid && (emailVar?.touched || mouseoverLogin)">Required</md-hint>         
      </md-input-container>
    </div>
    <div class="form-group" >
      <md-input-container>
        <input mdInput 
               type="password" 
               [(ngModel)]="currentPassword"
               name="currentPassword"
               required
                #currentPasswordVar="ngModel"
               class="form-control" 
               placeholder="Current Password..." />
        <md-hint *ngIf="currentPasswordVar?.invalid && (currentPasswordVar?.touched || mouseoverLogin)">Required</md-hint>       
      </md-input-container>
    </div>
     <div class="form-group" >
     <md-input-container>
        <input mdInput
         type="password"
         [(ngModel)]="newPassword"
         name="confirmPassword"
          #confirmPasswordVar="ngModel"
         required class="form-control" 
         placeholder="New Password..." />
         <md-hint *ngIf="confirmPasswordVar?.invalid && (confirmPasswordVar?.touched || mouseoverLogin)">Required</md-hint>
     </md-input-container>
    </div>
    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false"><button type="submit" md-button
     [disabled]="profileForm.invalid">Save changes</button></span>
  </form>
  <div *ngIf ="updateInvalid"> Invalid update profile information</div>
  	