<div class="container">
	<div class="inner-container">

		<md-list class="list">
		  <md-list-item>Immersion through typing</md-list-item>
		  <md-list-item>Get focused, get inspired !</md-list-item>
		  <md-list-item>Chuncked learning</md-list-item>
		  <md-list-item> Brute force memorization</md-list-item>
		  <md-list-item> Type your way into understanding</md-list-item>
		   <md-list-item>  Use daily for best results !</md-list-item>
		</md-list>
		<div class="formContainer">
			
			 <form autocomplete="on" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
			   <p class="title"> MemoRe </p>
			<div class="alert" *ngIf ="loginInvalid"> Invalid login information</div>	
		    <div class="form-group" >
		       <md-input-container  floatPlaceholder="always">
		      		<input   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" mdInput id="email" type="email" (ngModel)="email" name="email" required  placeholder = "Email"  #email="ngModel"  />
		      		<md-error *ngIf="email.errors?.required">Email is required</md-error>
    				<md-error *ngIf="email.errors?.pattern">Email is not valid</md-error>
		       </md-input-container>
		    </div>
		    <div class="form-group" >
		       <md-input-container  floatPlaceholder="always">	
		      		<input mdInput id="password" type="password" (ngModel)="password" name="password" required placeholder = "Password" />
		      		 <md-error>This field is required</md-error>
		       </md-input-container>
		    </div>
		    <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false"><button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" >Login</button></span>
		  </form>
		  <div class= "align-vertically space-around">
		 	<div class= "align-vertically center">
			  	<a routerLink="/forgot-password">Forgot your Passowrd ?</a>
				<a routerLink="/signup">Sign up</a>
			</div>	
			

			  <input class="guestLogin" type="submit"  (click)="loginGuest()" value="Login as Guest"/>

			  <button class="gLogin" (click)="loginWithGoogle()"><i class="fa fa-google" aria-hidden="true"></i> Login with Google</button>
		   </div>
		</div>
	</div>
</div>