<div>
	<ul>
		<li>
		  Immersion through typing
		</li>
		<li>
		  Get focused, get inspired !
		</li>
		<li>
		  Chuncked learning
		</li>
		<li>
		  Brute force memorization
		</li>
		<li>
		  Type your way into understanding
		</li>
		<li>
		  Use daily for best results !
		</li>
	</ul>
</div>
<div>
	<button> Login with Google</button>
	<p> or </p>
	<input placeholder="email" type="text">
	<input placeholder="password" type="password">
	<input type="submit" value="Log in">
	<a href="#">Forgot your Passowrd ?</a>
	<a href="#">Sign up</a>
</div>