<div class="sessionConfig">
    <h1 md-dialog-title>Session Config</h1>
    <form class="form-horizontal" #configForm="ngForm">
        <div md-dialog-content>
        <md-icon color="primary" class="closeModal" title="Close" (click)="cancel()">close</md-icon>
            <div class="setTime">
                <md-input-container dividerColor="{{ (timeVar.touched || timeVar.dirty) && !timeVar.valid ? 'warn' : 'primary' }}">
                    <input mdInput placeholder="Session Time (in minutes)" [(ngModel)]="config.sessionTime" name="sessionTime" type="number" min="1" md-min="1" required #timeVar="ngModel">
                </md-input-container>
            </div>
            <div class="toggleSessionItems">
                <md-button-toggle-group #group="mdButtonToggleGroup" value="{{config.isSessionMode}}">
                    <md-button-toggle value="0" (change)="setSessionMode(0)">
                        Tags
                    </md-button-toggle>
                    <md-button-toggle value="1" (change)="setSessionMode(1)">
                        Input
                    </md-button-toggle>
                </md-button-toggle-group>
            </div>
            <div class="sessionSelection">
                <div class="tags" [hidden]="config.isSessionMode!==0">
                    <tag-input 
                      [onlyFromAutocomplete]="true"
                      [ngModel]="config.tags"
                      [secondaryPlaceholder]="'@All'"
                      [separatorKeys]="[32]"
                      (onAdd)="onTagAdded($event)"
                      (onRemove)="onTagRemoved($event)"
                      [ngModelOptions]="{standalone: true}"
                      [identifyBy]="'id'"
                      [displayBy]="'name'">
                        <tag-input-dropdown 
                          [appendToBody]="false"
                          [autocompleteItems]="allTags"
                          [identifyBy]="'id'"
                          [displayBy]="'name'"
                          [showDropdownIfEmpty]='true'>
                        </tag-input-dropdown>
                    </tag-input>
                </div>
                <div class="input" [hidden]="config.isSessionMode!==1">
                    <md-input-container class="content" dividerColor="{{ (textVar.touched || textVar.dirty) && !textVar.valid ? 'warn' : 'primary' }}">
                        <textarea mdInput [(ngModel)]="config.input" placeholder="Enter text" name="text" type="text" rows="5" cols="70" required #textVar="ngModel">
                        </textarea>
                    </md-input-container>
                </div>
            </div>
        </div>
        <div md-dialog-actions>
            <div class="startSessionButton">
                <button (click)="close()" [disabled]="!canSubmit()" md-button color="primary">Start</button>
            </div>
        </div>
    </form>
</div>
