form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top:10px;
}
button{
	align-self:flex-end;
}
:host{
	display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    flex-wrap: wrap;
    background: burlywood;
    flex-direction: column;
}
.container{
	width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
}
.email{
	width: 100%;
}
img{
	width: 80px;
}
.title{
	margin-bottom:10px;
}
.link{
   text-align: right;
   width: 50%;
}