<div class="container">
 <div class ="title"> Forgot your password ? <img class="logo" src="../../assets/logo-tr.png" /></div>
 <div> Enter your email address below to reset your passwrod. You will be sent an email which you will need to open to continue. You may need to check your spam folder.</div>
 <form autocomplete="on" #sendEmailForm="ngForm" (ngSubmit)="sendEmail(sendEmailForm.value)" novalidate>
  		 <md-input-container  class = "email" floatPlaceholder="always">
      		<input   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" mdInput id="email" type="email" (ngModel)="email" name="email" required  placeholder = "Email"  #email="ngModel"  />
      		<md-error *ngIf="email.errors?.required">Email is required</md-error>
			<md-error *ngIf="email.errors?.pattern">Email is not valid</md-error>
       </md-input-container>
  		<button md-raised-button type="submit" color="primary" [disabled]="sendEmailForm.invalid" >Send Reset Password Link</button>
  </form>
</div>
<div class="link">
	<a routerLink="/login"> Back to Login</a>
</div>
