
 <form autocomplete="on" #sendEmailForm="ngForm" (ngSubmit)="sendEmail()" novalidate>
  		 <md-input-container  floatPlaceholder="always">
      		<input   pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" mdInput id="email" type="email" (ngModel)="email" name="email" required  placeholder = "Email"  #email="ngModel"  />
      		<md-error *ngIf="email.errors?.required">Email is required</md-error>
			<md-error *ngIf="email.errors?.pattern">Email is not valid</md-error>
       </md-input-container>
  		<button md-raised-button type="submit" color="primary" [disabled]="sendEmailForm.invalid" >Send Reset Password Link</button>
  </form>
