<div class="thingDetails">
    <form     
              *ngIf="!readOnly" 
              class="form-horizontal"
              #thingForm="ngForm">
    <div md-dialog-content class="edit">
        <md-icon color="accent" class="closeModal" title="Close" (click)="safeClose()">close</md-icon>
            <md-input-container class="content" 
              dividerColor="{{ (textVar.touched || textVar.dirty) && !textVar.valid ? 'warn' : 'primary' }}">
                <textarea mdInput
                    [(ngModel)]="thing.text"
                    placeholder="Text" 
                    name="text"
                    type="text"
                    rows="5"
                    cols="70"
                    required
                    #textVar="ngModel">
                </textarea>
        </md-input-container>
        <md-input-container class="source">
            <input 
               mdInput
               [(ngModel)]="thing.source"
               placeholder="Source" 
               name="source">
        </md-input-container>
    </div>
    <div md-dialog-actions class="edit actions">
        <div class="tags">
            <tag-input 
                  [ngModel]="thing.tags"
                  [placeholder]="'new tag'"
                  [secondaryPlaceholder]="'new tag'"
                  [maxItems]="5"
                  [separatorKeys]="[32]"
                  [theme]="minimal"
                  (onAdd)="onTagAdded($event)"
                  (onRemove)="onTagRemoved($event)"
                  [ngModelOptions]="{standalone: true}"
                  [identifyBy]="'id'" [displayBy]="'name'">
                    <tag-input-dropdown [appendToBody]="false" [autocompleteItems]="tags" [identifyBy]="'id'" [displayBy]="'name'">
                    </tag-input-dropdown>
            </tag-input>
        </div>
        <div class="buttons">
                <md-icon color="accent" title="Save" [ngClass]="{'disabled':thingForm.form.invalid}" 
                (click)="saveThing(eventType.SAVE, thingForm)">save</md-icon>
                <md-icon color="accent" title="Delete" *ngIf="thing.id" (click)="onClose(eventType.DELETE)">delete</md-icon>
        </div>
    </div>
    </form>

    <div md-dialog-content *ngIf="readOnly" class="readOnly">
        <md-icon color="accent" class="closeModal" title="Close" (click)="safeClose()">close</md-icon>
        <div class="content">
            {{thing.text}}
        </div>
    </div>
    <div md-dialog-actions class="readOnly actions" *ngIf="readOnly">
        <div class="source">
            {{thing.source}}
        </div>
        <div class="buttons">
            <md-icon color="accent" title="Delete" md-icon-button (click)="onClose(eventType.DELETE)">delete</md-icon>
        </div>
    </div>
</div>
