<md-toolbar color="primary" >
    <div class="left">
        <div class="openMenu" *ngIf="canShowNavBarButtons">
            <md-icon *ngIf="!isOpen" class="icon" title="Show search and filters" (click)="toggleSideNav()">
                search
            </md-icon>
            <md-icon *ngIf="isOpen" class="icon" title="Hide search and filters" (click)="toggleSideNav()">
                chevron_left
            </md-icon>
        </div>
    </div>
    <div class="right">
        <div class="startSession" *ngIf="canShowNavBarButtons">
            <memore-open-session-dialog (onStartSession)="startSession($event)"></memore-open-session-dialog>
        </div>
        <div class="userProfile">
           <img src="{{auth.currentUser?.gravatar}}"/>
          <button  md-button [mdMenuTriggerFor]="menu">{{loggedUser?.name}} <md-icon>keyboard_arrow_down</md-icon> </button>
        </div>
            <md-menu #menu="mdMenu" [overlapTrigger]="false">
            <button md-menu-item>
                <div>
                     <img src="{{auth.currentUser?.gravatar}}"/> 
                     <div>
                       <div>{{loggedUser?.name}}</div> 
                       <div>View Profile</div>
                     </div>
                 </div>
            </button>
            <button md-menu-item>Help </button>
            <button md-menu-item (click)="logoutUser()" >Logout</button>
        </md-menu>

    </div>
</md-toolbar>
