<md-toolbar color="primary">
    <div class="left">
        <div class="openMenu">
            <md-icon *ngIf="!isOpen" class="icon" title="Show search and filters" (click)="toggleSideNav()">
                search
            </md-icon>
            <md-icon *ngIf="isOpen" class="icon" title="Hide search and filters" (click)="toggleSideNav()">
                chevron_left
            </md-icon>
        </div>
    </div>
    <div class="right">
        <div class="startSession">
            <memore-open-session-dialog (onStartSession)="startSession($event)"></memore-open-session-dialog>
        </div>
        <div class="userProfile">
            User Name
        </div>
        <div class="logout">
            <i class="material-icons" title="sign out">exit_to_app</i>
        </div>
    </div>
</md-toolbar>
