<md-toolbar color="primary" *ngIf="loggedUser">
    <div class="left"> 
        <div class="openMenu" *ngIf="canShowNavBarButtons">
            <md-icon *ngIf="!isOpen" class="icon" title="Show search and filters" (click)="toggleSideNav()">
                search
            </md-icon>
            <md-icon *ngIf="isOpen" class="icon" title="Hide search and filters" (click)="toggleSideNav()">
                chevron_left
            </md-icon>
        </div>
        <a md-icon-button [routerLink]="['/things']" title="Home"><md-icon>home</md-icon></a>
    </div>
    <div class="right">
        <div class="startSession" *ngIf="canShowNavBarButtons && canPlay">
            <memore-open-session-dialog (onStartSession)="startSession($event)"></memore-open-session-dialog>
        </div>
        <div class="userProfile">
            <img src="{{loggedUser?.gravatar || loggedUser?.google.image.url }}" class="icon" />
            <button md-button [mdMenuTriggerFor]="menu">{{loggedUser?.name}} <md-icon>keyboard_arrow_down</md-icon> </button>
        </div>
        <md-menu #menu="mdMenu" [overlapTrigger]="false">
            <button *ngIf="hasProfileAccess" class="menu-section" [routerLink]="['profile']" md-menu-item>
               <img class="userIcon" src="{{loggedUser?.gravatar || loggedUser?.google.image.url}}" class="icon"/>
                <div class="userInfo">
                       {{loggedUser?.name}} 
               </div>
            </button>

            <button md-menu-item>Help </button>
            <button md-menu-item (click)="logoutUser()">Logout</button>
        </md-menu>

    </div>
</md-toolbar>